# predict whether the cusomer's reviews are positive/negative

In [21]:
#importing necessary libraries
import nltk

from nltk.corpus import stopwords
import string
import re
from nltk.tokenize import word_tokenize
from collections import Counter
from gensim.models import Word2Vec
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
import pandas as pd

In [23]:
hotel_data=pd.read_csv("train.csv",encoding='utf-8',
                   header=0,sep=',')

In [24]:
hotel_data

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy
...,...,...,...,...,...
38927,id49253,We arrived late at night and walked in to a ch...,Edge,Desktop,happy
38928,id49254,The only positive impression is location and p...,InternetExplorer,Mobile,not happy
38929,id49255,Traveling with friends for shopping and a show...,Firefox,Mobile,not happy
38930,id49256,The experience was just ok. We paid extra for ...,Chrome,Desktop,not happy
38931,id49257,The Westin is a wonderfully restored grande da...,Mozilla,Desktop,happy

In [25]:
hotel_data.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
count,38932,38932,38932,38932,38932
unique,38932,38932,11,3,2
top,id48276,This was a great experience -- beautifully res...,Firefox,Desktop,happy
freq,1,1,7367,15026,26521

In [26]:
hotel_data['Is_Response'].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [27]:
hotel_data["Is_Response"] = hotel_data["Is_Response"].map({"happy": "positive", "not happy" : "negative"})
hotel_data.sample(3)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
6876,id17202,This hotel was amazingly priced for the locati...,Google Chrome,Desktop,positive
12417,id22743,We checked into our room and it looked like a ...,Google Chrome,Mobile,negative
36788,id47114,Another great stay at a Hampton Inn. It was cl...,Firefox,Mobile,positive

In [28]:
hotel_data.drop(columns = ['User_ID', 'Browser_Used', 'Device_Used'], inplace = True)

In [29]:
# Preprocessing the data  (for more details on regular expression visit https://regexr.com/)
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

tokenizer = WordPunctTokenizer()
twitter_handle = r'@[A-Za-z0-9_]+'                         # remove twitter handle (@username)
url_handle = r'http[^ ]+'                                  # remove website URLs that start with 'https?://'
combined_handle = r'|'.join((twitter_handle, url_handle))  # join
www_handle = r'www.[^ ]+'                                  # remove website URLs that start with 'www.'
punctuation_handle = r'\W+'

In [30]:
stop_words = set(stopwords.words("english"))

In [31]:
def process_text(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()

    try:
        text = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        text = souped

    cleaned_text = re.sub(punctuation_handle, " ",(re.sub(www_handle, '', re.sub(combined_handle, '', text)).lower()))
    cleaned_text = ' '.join([word for word in cleaned_text.split() if word not in stop_words])

    return (" ".join([word for word in tokenizer.tokenize(cleaned_text) if len(word) > 1])).strip()

In [32]:
cleaned_text = []

for text in hotel_data.Description:
    cleaned_text.append(process_text(text))

clean_text = pd.DataFrame({'clean_text' : cleaned_text})
data = pd.concat([hotel_data, clean_text], axis = 1)

data.sample(5)

,Description,Is_Response,clean_text
33553,This is our first and last time we will stay a...,negative,first last time stay public chicago renovation...
22669,Booked a room for double occupancy. Called ahe...,negative,booked room double occupancy called ahead requ...
2445,I came here in October for a friends wedding t...,positive,came october friends wedding happening near lo...
18622,"The rooms are extremely small! Now yes, if you...",positive,rooms extremely small yes ever stayed nyc know...
27373,My daughter and I stayed here for one week fro...,positive,daughter stayed one week th october celebrate ...

In [34]:
from sklearn.model_selection import train_test_split

x= data["clean_text"]
y= hotel_data["Is_Response"]

In [35]:
x_train, x_test,y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 41)

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

tvec = TfidfVectorizer()
clf2 = LogisticRegression()

In [37]:
from sklearn.pipeline import Pipeline

model = Pipeline([('vectorizer',tvec)
                 ,('classifier',clf2)])

model.fit(x_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [38]:
from sklearn.metrics import confusion_matrix

verdict = model.predict(x_test)

confusion_matrix(verdict, y_test)

array([[2800,  476],
       [ 884, 7520]], dtype=int64)

In [39]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

print("Accuracy : ", accuracy_score(verdict, y_test))
print("Precision : ", precision_score(verdict, y_test, average = 'weighted'))
print("Recall : ", recall_score(verdict, y_test, average = 'weighted'))

Accuracy :  0.8835616438356164
Precision :  0.8898642239775905
Recall :  0.8835616438356164

In [40]:
test=pd.read_csv("test.csv",encoding="utf-8")
example_result = model.predict(test)
example_result

array(['positive', 'negative', 'positive', 'positive'], dtype=object)