In [1]:
import pandas as pd
dataset=pd.read_json("Cell_Phones_and_Accessories.json")

In [2]:
dataset.head()

,Rating,Rev_verify,Review_Date,IC,Prod_meta,Reviewer_Name,Review,Rev_summ,Review_timestamp,Useful,Prod_img
0,5,True,"09 1, 2015",B009XD5TPQ,None,Sunny Zoeller,Bought it for my husband. He's very happy with it,He's very happy with,1441065600,None,None
1,5,True,"01 9, 2016",B016MF3P3K,None,Denise Lesley,Great screen protector. Doesn't even seem as ...,Five Stars,1452297600,None,None
2,5,True,"04 21, 2013",B008DC8N5G,None,Emir,Saved me lots of money! it's not gorilla glass...,As long as you know how to put it on!,1366502400,None,None
3,3,True,"02 27, 2013",B0089CH3TM,{'Color:': ' Green'},Alyse,"The material and fit is very nice, but the col...",Good case overall,1361923200,3,None
4,4,True,"12 19, 2013",B00AKZWGAC,None,TechGuy,This last me about 3 days till i have to charg...,Awesome Battery,1387411200,None,None

In [3]:
#Fetch wordcount for each abstract
dataset['word_count'] = dataset['Review'].apply(lambda x: len(str(x).split(" ")))
dataset[['Review','word_count']].head()

                                              Review  word_count
0  Bought it for my husband. He's very happy with it          10
1  Great screen protector.  Doesn't even seem as ...          12
2  Saved me lots of money! it's not gorilla glass...          55
3  The material and fit is very nice, but the col...          23
4  This last me about 3 days till i have to charg...          97

In [4]:
##Descriptive statistics of word counts
dataset.word_count.describe()

count    760450.000000
mean         50.726820
std          93.683783
min           1.000000
25%           7.000000
50%          23.000000
75%          56.000000
max        5505.000000
Name: word_count, dtype: float64

In [7]:
dataset.isnull().sum()

Rating                   0
Rev_verify               0
Review_Date              0
IC                       0
Prod_meta           352624
Reviewer_Name           91
Review                 530
Rev_summ               355
Review_timestamp         0
Useful              698250
Prod_img            742256
word_count               0
dtype: int64

In [12]:
dataset["Review"].dropna(inplace=True)

In [25]:
dataset.shape

(760450, 12)

In [13]:
freq = pd.Series(' '.join(dataset['Review']).split()).value_counts()[:20]
freq

the      1781877
I        1060890
and      1041624
a         936101
to        925309
it        770811
is        652243
my        495005
for       487520
of        481745
this      435576
on        349528
in        348672
phone     346227
with      343226
that      340500
case      294812
but       274153
The       265448
have      264712
dtype: int64

In [15]:
freq1 =  pd.Series(' '.join(dataset 
         ['Review']).split()).value_counts()[-20:]
freq1

iPad-3                     1
(silicone/rubber/grippy    1
faceplates,                1
proveded                   1
dollars/year,              1
ball.....still             1
laundromat,                1
m8...seems                 1
wallety                    1
1501.                      1
larger...a                 1
base...but                 1
lenses/flash               1
suctioned,                 1
borough                    1
slim/grippy                1
Cruiser,                   1
*.vcf                      1
adapter"attached           1
design,protective(very)    1
dtype: int64

In [17]:
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
lem = WordNetLemmatizer()
stem = PorterStemmer()
word = "inversely"
print("stemming:",stem.stem(word))
print("lemmatization:", lem.lemmatize(word, "v"))

stemming: invers
lemmatization: inversely

In [19]:
# Libraries for text preprocessing
import re
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
#nltk.download('wordnet') 
from nltk.stem.wordnet import WordNetLemmatizer

In [20]:
#Creating a list of stop words and adding custom stopwords

stop_words = set(stopwords.words("english"))
##Creating a list of custom stopwords
new_words = ["using", "show", "result", "large", "also", "iv", "one", "two", "new", "previously", "shown"]

stop_words = stop_words.union(new_words)

In [21]:
##Creating a list of stop words and adding custom stopwords
stop_words = set(stopwords.words("english"))
##Creating a list of custom stopwords
new_words = ["using", "show", "result", "large", "also", "iv", "one", "two", "new", "previously", "shown"]
stop_words = stop_words.union(new_words)

In [45]:
corpus = []
for i in range(0, 760450): 
    #Remove punctuations
    text = re.sub('[^a-zA-Z]', ' ', dataset['Review'][i])
    
    #Convert to lowercase
    text = text.lower()
    
    #remove tags
    text=re.sub("&lt;/?.*?&gt;"," &lt;&gt; ",text)
    
    # remove special characters and digits
    text=re.sub("(\\d|\\W)+"," ",text)
    
    ##Convert to list from string
    text = text.split()
    
    ##Stemming
    ps=PorterStemmer()
    #Lemmatisation
    lem = WordNetLemmatizer()
    text = [lem.lemmatize(word) for word in text if not word in  
            stop_words] 
    text = " ".join(text)
    corpus.append(text)

KeyError: 1587